body {
  background-color: #13c1ac;
}

.card {
  width: 300px;
  border-radius: 15px;
}

.nav-item .nav-link[disabled]:hover {}

#content > img {
  margin-top: 50px;
  padding: 25px;
}

#btn-login {
  background-color: #13c1ac;
  border-color: #13c1ac;

}

#btn-signup {
    background-color: #13c1ac;
    border-color: #13c1ac;

}
.text-primary {
  color: #13c1ac !important;
}
.text-primary:hover {
  color: #0f887a !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #0f887a !important;
}