#influencers {
  padding: 16px;
}

.influencer-item {
  position: relative;
  margin-bottom: 30px;
}

.social-icon {
  max-width: 25px;
  margin-right: 20px;
}

.followButton {
  position: absolute;
  right: 0;
  top: 25%;
  background-color: #13c1ac;
  border-color: #13c1ac;
}

.profile-img {
  float: left;
  max-width: 80px;
  margin-right: 15px;
}

h2 {
  font-size: 1.3em;
}

#logout-btn {
  color: white;
  background-color: #13c1ac !important;
  border-color: #13c1ac !important;
}

#logout-btn>a {
  color: white;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 720px;
  }

  .profile-img {
    max-width: 80px;
    margin: auto;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}