body {
  background-color: #13c1ac;
}

.bg-light {
  background-color: #13c1ac !important;
}

#myprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profileimg {
  width: 25%;
  max-width:100px;
  margin: 16px;
}

#username {
  font-size: 1.4em;
  margin-bottom: 25px;
  color: white;
}

/* .offer-company {
  display: inline-block;
  position: relative;
}

.companyimg {
  max-width: 20vh;
  border: #13c1ac solid 1px;
  border-radius: 15px;
} */

/* div.offer-company+img {
  width: 25%;
  position: absolute;
  bottom: 1px;
  right: 5px; 
  border: 2px;
  border-style: solid;
  border-color: #13c1ac;
}

.mycoupon {
  position: relative;
  display: inline-block;
} */

#mycoupons, #myinfluencers {
  border-radius: 50px 50px 0 0;
  background-color: white;
  padding: 25px;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.15);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.15);
}

#mycoupons {
  padding-bottom: 50px;
}

#myinfluencers {
  margin-top: -40px;
}

.social-icon {
  max-width: 25px;
  margin-right: 20px;
}

.profile-img {
  max-width: 80px;
  margin-right: 15px;
}

h2 {
  font-size: 1.4rem;
}

#mycoupons > h2, #myinfluencers > h2 {
  color: #13c1ac;
}